body {
  color: rgb(128, 0, 64);
  background-color: rgb(255, 255, 255);
  font-family: Trebuchet MS;
  margin: 0;
}

div {
  min-height: 2vh;
  width: 100vw;
}

div.contrast {
  background-color: rgb(128, 0, 64);
  color: rgb(255,255,255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

h1, h2{
  text-align: center;
}

h3{
	text-align: justify;
}

h1 {
  font-size: 7em;
  padding: 10px;
}

h2 {
  font-size: 4em;
  color: rgb(70, 10, 90);
  font-style: italic;
  padding: 20px;
}

h3 {
	font-size: 2.5em;
  margin: 0 10vw 2.5vh 5vw;
}

h4{
  font-size: 2em;
  font-style: italic;
  color: rgb(128, 0, 64);
}

img {
  display: flex;
  margin: 0 auto;
  padding: 5px;
  border-radius: 100px;
}

.header img {
  float: left;
  width: 200px;
  height: 200px;
  background: rgb(255, 204, 204);
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

p {
  width: 70%;
  margin: 0 5vw 2.5vh 5vw;
  text-align: justify;
  font-size: 1.5em;
	line-height: 1;
}

.condensedlines{
   line-height: 25pt;
}

a {
  color: rgb(22, 131, 255);
}

form {
  width: 70%;
  margin: 0 5vw 2.5vh 5vw;
  text-align: justify;
  font-size: 1em;
  font-weight: bold;
	line-height: 1;
}

.topnav {
	background-color: rgb(128, 0, 64);
	overflow: hidden;
	font-weight: bold;
	position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 500;
	}

.topnav a{
	float:left;
	text-align: center;
	padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
	color: white;
}

.topnav a:hover {
	background-color: rgb(255,255,255);
	color: black;
}

.topnav a.active {
	background-color: rgb(0,0,0);
	color: white;
}
